/* ----------project-css------------*/
.parent{
    height: 100vh;
    

    color: #40514e;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: repeat(1fr, 1fr);
    width: 70%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 15rem;
}
.blackjack{
    width: 20px;
    height: 16px;
}
*{
    font-size: 24px
}
